<%- include('../partials/header') %>

    <div class="menu-item"><a href="/books">Home</a></div>
    <div class="menu-item"><a href="/books/new" style="text-decoration: none;">Publish Your Book</a></div>
    <div class="menu-item"><a href="/books/action %>" style="text-decoration: none;">Action</a></div>
    <div class="menu-item"><a href="/books/fantasy" style="text-decoration: none;">Fantasy</a></div>
    <div class="menu-item"><a href="/books/fiction" style="text-decoration: none;">Fiction</a></div>
    <div class="menu-item"><a href="/books/non-fiction" style="text-decoration: none;">Non-Fiction</a></div>
    <div class="menu-item"><a href="/books/horror" style="text-decoration: none;">Horror</a></div>
    <div class="menu-item"><a href="/books/sci-fi" style="text-decoration: none;">Sci-Fi</a></div>


<%- include('../partials/footer') %>